body{
    background-color:#7FEFBD;
}

.input-field{
    position:absolute;
    width:90%;
    top:20%;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
}

.heading{
    font-weight:200;
    font-size:50px;
    
    font-family:'Roboto Condensed';
}

.city{
    padding:10px 50px;
    outline:none;
    font-size:20px;
    border:none;
    border-radius: 6px;
}

.btn{
    padding:10px 30px;
    outline:none;
    font-size:20px;
    border:none;
    border-radius: 6px;
    color:white;
    background-color:#4c4c47;
    transition: all 0.5s ease;
    cursor:pointer;
}

.btn:hover{
    background-color:#686864 ;
}


@media screen and (max-width:780px) {
    .heading{
        font-size:30px;
    }
    .city, .btn{
        padding:6px 15px;
        font-size:15px;
    }
}